{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block main %}
edit

<form method="POST">
  {% csrf_token %}

  {{form|bootstrap}}

  <button type="submit" class="btn btn-info">Salvar</button>
  {% if object %}
    <a href="{% url 'delete_hora_extra' object.id %}" class="btn btn-danger">Deletar</a>
  {% endif %}
</form>
<button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-info">Utilizado</button>
{% endblock %}

{% block static %}
  <script src="{% static 'js/jquery.js' %}"> </script>
  <script src="{% static 'js/funcoes_ajax.js' %}"> </script>
{% endblock %}