{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
edit

<form method="POST">
  {% csrf_token %}

  {{form|bootstrap}}

  <button type="submit" class="btn btn-info">Salvar</button>
</form>
<br>
<h2>Documentos</h2>
<ul>
  {% for documento in object.documentos_set.all %}
    <li>
      <a href="{{ documento.arquivo.url }}">{{ documento.descricao }}</a><br>
    </li>
  {% endfor %}
</ul>
<br>
<a href="{% url 'create_documento' object.id %} " class="btn btn-success">Adicionar arquivos</a>

<br>
<h2>Banco de Horas</h2>
<ul>
  {% for hora in object.horaextra_set.all %}
    <li>
      <a href="{% url 'update_hora_extra' hora.id %}">{{ hora.motivo }} | {{ hora.horas }}</a><br>
    </li>
  {% endfor %}
</ul>
<br>
<h3>Total Hora Extra: {{ object.total_horas_extra }}</h3>

{% endblock %}